rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper to check if user is admin
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email in ["developer@example.com", "admin@example.com"]);
    }

    function isSignedIn() {
       return request.auth != null;
    }

    match /news/{newsId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /branding/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /students/{studentId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /letters/{requestId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /letter_attachments/{path}/{fileName} {
      allow read: if true;
      allow write: if true;
    }

    match /profiles/{userId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /archives/{teacherId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}
